@use '../../sass/base/variables' as vars;
@import '../../sass/abstracts/mixins';

.footer {

    &__navigation {
        border-top: 1px solid vars.$color-gray-dark;
        padding: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}