@use '../../sass/base/variables' as vars;

.form {
    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-label {
        font-size: vars.$default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }   

    &__radio-input {
        display: none;
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid vars.$color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;
        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: vars.$color-primary;
            opacity: 0;
            transition: opacity .3s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after {
        opacity: 1;
    }
}