@use '../../sass/base/variables' as vars;

.btn-text {
    &:link,
    &:visited {
        font-size: vars.$default-font-size;
        color: vars.$color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid vars.$color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: vars.$color-primary;
        color: vars.$color-white;
        box-shadow: 0 1rem 2rem rgba($color: vars.$color-black, $alpha: 0.15);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 0.5rem 1rem rgba($color: vars.$color-black, $alpha: 0.15);
        transform: translateY(0);
    }
}