@use '../../sass/base/variables' as vars;

.navigation {
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient(vars.$color-primary-light, vars.$color-primary-dark);
        z-index: 1000;

        transform: scale(50);
    }
}