@use '../../sass/base/variables' as vars;
@import '../../sass/abstracts/mixins';


.card {
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;

    }

    &__price-box {
        text-align: center;
        color: vars.$color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }

    @include respond(tab-port) {
        &__cta {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem;
        }
    
        &__price-box {
            margin-bottom: 3rem;
        }
    
    
        &__price-value {
            font-size: 4rem;
        }
    }
}